// Colors
$primaryLightRed: hsl(356, 100%, 66%);
$primaryVeryLightRed: hsl(355, 100%, 74%);
$primaryDarkBlue: hsl(208, 49%, 24%);

$neutralWhite: white;
$neutralGrayishBlue: hsl(240, 2%, 79%);
$neutralVeryDarkGrayishBlue: hsl(207, 13%, 34%);
$neutralVeryDarkBlackBlue: hsl(240, 10%, 16%);

$gradientVeryLightRed: hsl(13, 100%, 72%);
$gradientLightRed: hsl(353, 100%, 62%);
$gradientVeryDarkBlue: hsl(237, 17%, 21%);
$gradientVeryDesaturatedBlue: hsl(237, 23%, 32%);

// Font
$baseFontSize: 1.6rem;

$UbuntuFont: "Ubuntu", sans-serif;
$OverpassFont: "Overpass", sans-serif;
