nav {
  @include flex(space-between, center, row, 16rem, 100%);
  @extend .container;

  .left-nav {
    @include flex(center, center, row, auto, auto);
    gap: 4rem;
  }

  ul {
    @include flex(center, center, row, auto, auto);
    gap: 4rem;

    .dropdown img {
      padding-left: 0.4rem;
    }
  }
}
