html {
  font-size: 62.5%;
}

body {
  font-size: $baseFontSize;
  font-family: $UbuntuFont;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
